Makefile
Makefile.Debug
*.Debug
*.Release
ui_byteconverterchar.h
ui_aboutpep.h
ui_assemblerlistingpane.h
ui_byteconverterbin.h
ui_byteconverterdec.h
ui_byteconverterhex.h
ui_byteconverterinstr.h
ui_cpupane.h
ui_helpdialog.h
ui_inputpane.h
ui_listingtracepane.h
ui_mainwindow.h
ui_memorydumppane.h
ui_memorytracepane.h
ui_objectcodepane.h
ui_outputpane.h
ui_redefinemnemonicsdialog.h
ui_sourcecodepane.h
ui_terminalpane.h
*.user
*.user*
